In [10]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn import linear_model
import matplotlib

In [12]:
df = pd.read_csv("winequality-red.csv")
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [13]:
df=df.drop(['chlorides','free sulfur dioxide','total sulfur dioxide','density','sulphates','fixed acidity','volatile acidity','citric acid',],axis='columns')
df

      residual sugar    pH  alcohol  quality
0                1.9  3.51      9.4        5
1                2.6  3.20      9.8        5
2                2.3  3.26      9.8        5
3                1.9  3.16      9.8        6
4                1.9  3.51      9.4        5
...              ...   ...      ...      ...
1594             2.0  3.45     10.5        5
1595             2.2  3.52     11.2        6
1596             2.3  3.42     11.0        6
1597             2.0  3.57     10.2        5
1598             3.6  3.39     11.0        6

[1599 rows x 4 columns]

In [14]:
reg = linear_model.LinearRegression()
reg.fit(df.drop('quality',axis='columns'),df.quality)
df

      residual sugar    pH  alcohol  quality
0                1.9  3.51      9.4        5
1                2.6  3.20      9.8        5
2                2.3  3.26      9.8        5
3                1.9  3.16      9.8        6
4                1.9  3.51      9.4        5
...              ...   ...      ...      ...
1594             2.0  3.45     10.5        5
1595             2.2  3.52     11.2        6
1596             2.3  3.42     11.0        6
1597             2.0  3.57     10.2        5
1598             3.6  3.39     11.0        6

[1599 rows x 4 columns]

In [17]:
reg.predict([[1.9,3.51,9.4]])

array([5.07661025])

In [18]:
X=df[['residual sugar','pH','alcohol']]

In [19]:
y=df['quality']

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [21]:
X_train

     residual sugar    pH  alcohol
376             3.0  3.26     11.0
835             1.5  3.39      9.3
812             2.5  3.24     10.8
154             5.5  3.42     10.5
93              1.9  3.39      9.6
..              ...   ...      ...
37              2.1  3.23      9.7
525             2.8  3.24      9.9
869             2.0  3.44     10.9
615             2.3  3.50      9.7
890             2.0  3.44     10.1

[1279 rows x 3 columns]

In [23]:
X_test

     residual sugar    pH  alcohol
873            1.60  3.23     11.1
291            2.00  3.30     10.5
829            2.10  3.56     11.1
838            1.60  3.24     11.2
139            2.00  3.32      9.5
..              ...   ...      ...
691            2.60  3.48      9.8
982            2.10  3.34     12.9
915            2.20  3.27     11.9
462            2.55  3.18     11.8
53             3.00  3.20      9.4

[320 rows x 3 columns]

In [24]:
y_train

376    6
835    5
812    5
154    5
93     5
      ..
37     7
525    5
869    6
615    5
890    5
Name: quality, Length: 1279, dtype: int64

In [25]:
y_test

873    7
291    5
829    6
838    7
139    5
      ..
691    5
982    6
915    6
462    5
53     5
Name: quality, Length: 320, dtype: int64

In [26]:
from sklearn.linear_model import LinearRegression
clf = LinearRegression()
clf.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [28]:
clf.predict(X_test)

array([5.97120983, 5.66895098, 5.66432575, 6.00116697, 5.25923824,
       4.99497629, 5.93776615, 5.30517977, 5.64899599, 5.05486592,
       5.79936237, 5.99717173, 5.68679919, 6.22685131, 5.28677359,
       5.54125173, 5.65897349, 5.18501159, 5.79795797, 5.7734744 ,
       5.31789405, 5.87334795, 5.29675108, 5.26432632, 5.59990755,
       5.25892324, 5.3759233 , 5.38015618, 5.79793333, 5.37536189,
       5.39529225, 5.74644775, 6.16967382, 5.39698891, 5.97123447,
       5.34535547, 5.2573005 , 5.51478458, 5.24354763, 5.9763684 ,
       5.6408823 , 5.18346278, 5.23124348, 5.90461282, 6.34667985,
       5.32973536, 5.59361029, 5.93212353, 5.31832882, 5.51478458,
       5.97154947, 5.51725222, 5.59029776, 5.69144906, 6.26986236,
       5.87463105, 6.02524041, 5.39337915, 5.418227  , 5.41825164,
       6.30081224, 5.67461824, 6.23496652, 5.33511226, 5.31917715,
       5.5286834 , 5.35175129, 5.18501159, 6.33151914, 5.52749543,
       6.12855809, 6.11353836, 5.15832457, 5.70221689, 5.22368777,
       5.61627743, 5.62192005, 6.2687976 , 5.49647353, 5.64114992,
       5.70714311, 5.67929276, 6.42800279, 5.37463677, 5.56675765,
       5.95096448, 5.50918781, 6.05064433, 6.24559713, 5.52616495,
       5.35780404, 5.32668358, 5.71297942, 5.43900569, 6.19575549,
       5.18101635, 4.98499879, 5.76160845, 5.48484865, 6.67475465,
       5.08271626, 6.00760863, 6.47919802, 6.09459884, 5.7757044 ,
       5.44365556, 5.23095999, 5.11589423, 5.80638513, 5.6028854 ,
       5.31077311, 6.35749507, 5.40040497, 6.11748432, 5.66299337,
       5.65219218, 5.17380028, 5.45309973, 5.50405388, 5.40304165,
       5.58908172, 6.33219842, 5.609086  , 5.74400132, 6.16611335,
       5.35150679, 5.67054908, 5.33696547, 5.3974976 , 6.76280962,
       5.16825279, 5.22366312, 5.16905184, 5.17902933, 5.51381648,
       5.47247401, 6.20660596, 5.00011021, 5.65401358, 5.50097746,
       6.24838319, 5.84435891, 5.49061257, 5.60155493, 6.34212663,
       5.51202659, 5.32949428, 5.94098698, 5.42977796, 6.12493086,
       6.51155574, 5.89335222, 5.44690104, 5.33736499, 5.22731873,
       5.66737753, 5.3210656 , 5.80762047, 5.48891782, 6.37196247,
       5.20629897, 5.6426036 , 5.22329885, 5.62095195, 5.15738455,
       4.87250953, 5.22143504, 5.665878  , 5.59852588, 5.33264119,
       6.23840226, 5.65343287, 5.76395631, 5.20496659, 5.18597969,
       5.23930788, 5.13233804, 6.01797505, 5.67345492, 6.16906847,
       5.92022234, 5.80822582, 5.44813485, 5.26003729, 6.30744913,
       5.24005765, 5.21010051, 5.47632484, 5.59554803, 5.80522333,
       5.6345392 , 5.72988264, 5.39451784, 5.23492372, 5.38613844,
       6.05824932, 5.71249881, 5.22765836, 5.2400118 , 5.84794403,
       5.53108054, 5.59339195, 6.48486529, 5.47923068, 5.04651116,
       5.33864809, 5.70198454, 5.41176069, 6.34205461, 5.39146606,
       6.51230894, 5.52669638, 5.07726734, 5.15958303, 5.84462463,
       5.61438898, 6.51559683, 6.32217163, 5.08498617, 6.25341855,
       5.06116317, 6.45496804, 5.12347458, 5.64492682, 4.97712808,
       5.19617706, 5.53156803, 5.28224501, 5.16856778, 6.08835087,
       6.15809823, 5.3430569 , 5.43571093, 6.51988929, 5.69873906,
       5.44060378, 5.79064333, 5.26388811, 5.13313709, 5.52645531,
       6.7639483 , 5.74879561, 5.52749543, 5.85111558, 5.20494195,
       5.07925436, 6.02422302, 5.80556297, 6.16163406, 5.51996436,
       6.48486529, 6.42471147, 5.70221689, 5.621436  , 5.97321059,
       6.09428385, 5.38805153, 5.43793902, 6.20624168, 4.87250953,
       5.27001478, 5.46237674, 5.72649275, 5.25284585, 5.80556297,
       5.84794403, 5.7707869 , 5.19934861, 5.39015832, 5.08271626,
       6.44924432, 4.96339642, 5.37422321, 5.9765621 , 5.42173819,
       5.1283428 , 6.17489227, 5.064384  , 6.71597391, 6.10099313,
       5.41965948, 5.49569912, 5.70162026, 5.7927994 , 4.96339642,
       5.46377961, 5.73245037, 5.79875702, 6.34457306, 5.17902933,
       5.38967427, 5.52158709, 5.12667078, 5.4298026 , 5.5307197 ,
       5.24996466, 5.23599535, 5.50543364, 5.8838095 , 5.74116941,
       5.75049227, 5.69512931, 5.28352811, 5.3338538 , 5.8778026 ,
       5.60680862, 6.44238909, 6.90557788, 5.29353025, 5.975279  ,
       5.23095999, 5.62787766, 5.15345636, 6.23496652, 6.43928803,
       5.22499551, 6.57069217, 6.24278642, 6.28346022, 5.32225357])

In [29]:
y_test

873    7
291    5
829    6
838    7
139    5
      ..
691    5
982    6
915    6
462    5
53     5
Name: quality, Length: 320, dtype: int64

In [30]:
clf.score(X_test, y_test)

0.2310561489370293

In [31]:
import pickle

In [32]:
with open('model_pickle','wb') as file:
    pickle.dump(reg,file)

In [33]:
with open('model_pickle','rb') as file:
    mp = pickle.load(file)

In [34]:
mp.coef_

array([-0.01252732, -0.8613732 ,  0.38719996])

In [35]:
mp.intercept_

4.484152506269748

In [36]:
mp.predict([[2.5,5,15]])

array([5.95396755])

In [37]:
mp.predict([[5.6,8,24]])

array([6.81581286])