In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn import tree

In [4]:
df = pd.read_csv('winequality-red.csv')
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [5]:
X = df.drop('quality',axis='columns')
y = df['quality']

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2)

In [7]:
X_train.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
1559,7.8,0.60,0.26,2.0,0.080,31.0,131.0,0.99622,3.21,0.52,9.9
227,9.0,0.82,0.14,2.6,0.089,9.0,23.0,0.99840,3.39,0.63,9.8
54,7.6,0.51,0.15,2.8,0.110,33.0,73.0,0.99550,3.17,0.63,10.2
1504,7.5,0.38,0.57,2.3,0.106,5.0,12.0,0.99605,3.36,0.55,11.4
40,7.3,0.45,0.36,5.9,0.074,12.0,87.0,0.99780,3.33,0.83,10.5

In [8]:
X_train_scaled = preprocessing.scale(X_train)
X_train_scaled

array([[-0.32161032,  0.4116968 , -0.07844136, ..., -0.62456962,
        -0.80819304, -0.49778337],
       [ 0.3704922 ,  1.65425011, -0.69362689, ...,  0.53128583,
        -0.1695821 , -0.59135323],
       [-0.43696073, -0.09662046, -0.64236143, ..., -0.88142639,
        -0.1695821 , -0.21707378],
       ...,
       [ 0.02444094,  0.52465619, -0.79615781, ...,  0.46707164,
         1.33986196,  1.28004398],
       [ 0.08211615, -1.05677529,  0.84433692, ...,  1.36607033,
        -0.1695821 ,  0.25077552],
       [-0.72533678,  1.96488843, -1.15501603, ...,  0.59550002,
        -0.80819304, -0.21707378]])

In [9]:
clf=tree.DecisionTreeClassifier()
clf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [10]:
clf.score(X,y)

0.924953095684803

In [55]:
y_pred = clf.predict(X_test)

In [29]:

#converting the numpy array to list
x=np.array(y_pred).tolist()

#printing first 5 predictions
print("\nThe prediction:\n")
for i in range(0,5):
    print (x[i])
    
#printing first five expectations
print("\nThe expectation:\n")
y_test.head()

The prediction:

5
5
5
6
6

The expectation:

845    5
447    5
182    5
388    6
493    6
Name: quality, dtype: int64